html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
body {
  font-family: -apple-system, 'SF UI Text', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'WenQuanYi Micro Hei', sans-serif;
}
.fill {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block {
  margin: 0 4%;
  display: flex;
  justify-content: space-between;
}
#home {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #53a9b4;
  background-size: contain;
  z-index: 10000;
  transition: all 0.5s ease-out;
}
#home.hide {
  opacity: 0;
  z-index: 0;
}
#home > img {
  max-width: 100%;
  max-height: 100%;
}
#main {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  background: #FFF;
}
#main .bg_gray {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}
#main .imgbox {
  flex: 0 0 auto;
}
#main #bottom {
  flex: 1 1 auto;
  height: 25vw;
}
img {
  max-width: 100%;
}
#top {
  box-sizing: border-box;
  width: 100%;
  line-height: 10vw;
  display: flex;
  text-align: center;
  background: #fff;
  border: 1px solid #54504e;
  flex: 0 0 auto;
}
#top > div {
  border-left: 1px solid #54504e;
}
#top .text {
  flex: 1 1 100%;
  font-size: 4vw;
  color: #333;
  border: 0 none;
  text-shadow: 0 0 2vw #fff;
}
#top .sort {
  width: 36vw;
  font-size: 4.5vw;
  flex: 0 0 auto;
}
#top .sort strong {
  font-size: 5vw;
  font-weight: bold;
}
#top .share {
  flex: 0 0 auto;
  width: 10vw;
  height: 10vw;
  background: url('图标-61.b4915b43.png') center no-repeat #dedede;
  background-size: 80% 80%;
  vertical-align: top;
}
#bottom {
  height: 0;
  background: url('banner.0529700c.png') center center no-repeat #fff;
  background-size: contain;
  z-index: -1;
}
.bg_gray {
  background: #efefef;
}
#canvas {
  width: 82%;
  padding-top: 82%;
  height: 0;
  box-sizing: content-box;
  border: 1px solid #54504e;
  overflow: hidden;
  background: #bbb;
  position: relative;
}
#canvas.hide {
  display: none;
}
#canvas .body {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
#canvas img {
  display: none;
}
#outImgBox {
  width: 82%;
  font-size: 0;
}
#outImgBox.hide {
  display: none;
}
.btns {
  width: 14%;
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  align-content: flex-start;
}
.btns > div {
  transform: scale(0.9);
  flex: 0 0 auto;
  font-size: 3vw;
  line-height: 2;
  width: 100%;
  padding-top: 85%;
  padding-bottom: 2%;
  text-align: center;
  white-space: nowrap;
  position: relative;
  background: center top no-repeat;
  background-size: 85% auto;
  filter: opacity(50%);
}
.btns > div.active {
  filter: none;
}
.btns .bt_out {
  background-image: url('生成图片.37f27905.png');
}
.btns .bt_back {
  background-image: url('返回编辑.415b1308.png');
}
.btns .bt_save {
  background-image: url('长按保存.ee1d8563.png');
}
.btns .bt_save img {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.01;
}
.btns .bt_save.active img {
  display: block;
}
.btns .bt_share {
  background-image: url('马上分享.14af4f8b.png');
}
#bgbox.hide,
#imgbox.hide {
  display: none;
}
#bgbox ul {
  display: flex;
  width: 100%;
  overflow: auto;
  padding: 4% 0;
  justify-content: space-between;
}
#bgbox ul > li {
  flex: 0 0 auto;
  display: inline-block;
  border-radius: 50%;
  width: 10%;
  padding-top: 10%;
  margin: 0 1%;
  height: 0;
}
.deleteBtn {
  display: block;
  position: absolute;
  width: 22px;
  height: 22px;
  background: #f30;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
  z-index: 100;
}
.deleteBtn::before,
.deleteBtn::after {
  content: '';
  position: absolute;
  width: 70%;
  height: 2px;
  background: #fff;
  top: 50%;
  left: 50%;
}
.deleteBtn::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.deleteBtn::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.imgbox {
  display: flex;
  box-sizing: content-box;
  justify-content: space-between;
  align-items: center;
  height: auto;
  background: #fff;
  padding: 4% 0;
}
.imgbox div[data-type] {
  position: relative;
  width: 16%;
  padding-top: 16%;
  height: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.imgbox div[data-type='lian'] {
  background-image: url('01.b589840f.png');
}
.imgbox div[data-type='yan'] {
  background-image: url('02.bcdff17d.png');
}
.imgbox div[data-type='fa'] {
  background-image: url('05.fea55c39.png');
}
.imgbox div[data-type='kou'] {
  background-image: url('04.9c003c13.png');
}
.imgbox div[data-type='bi'] {
  background-image: url('03.75654ff1.png');
}
#selectImgBox {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  justify-content: space-evenly;
  align-content: space-evenly;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 3% 0 8% 0;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-out;
}
#selectImgBox.hide {
  opacity: 0;
  transform: translate(0, 100%);
}
#selectImgBox::after {
  content: '按住选定元素长按拖动至绘板';
  position: absolute;
  font-size: 4vw;
  line-height: 2;
  text-align: center;
  color: #CCC;
  bottom: 0;
  left: 0;
  right: 0;
}
#selectImgBox .item {
  width: 20vw;
  height: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
#selectImgBox .item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
#selectImgBox .item img {
  flex: 0 0 auto;
  touch-action: none;
  max-width: 90%;
  max-height: 90%;
  transition: all 0.5s cubic-bezier(0.64, 1.13, 0.85, 1.35);
}
#selectImgBox .item img.loading {
  transform: scale(0);
  opacity: 0;
}
.gu-mirror.item {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
}
.gu-mirror.item img {
  flex: 0 0 auto;
  max-width: 90%;
  max-height: 90%;
}
.gu-mirror.lian {
  transform: scale(3.2);
}
.gu-mirror.yan {
  transform: scale(0.5);
}
.gu-mirror.fa {
  transform: scale(2);
}
.gu-mirror.kou {
  transform: scale(0.8);
}
.gu-mirror.bi {
  transform: scale(0.5);
}
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}


/*# sourceMappingURL=/src.e31bb0bc.css.map */